---
import Main from "layouts/main.astro";
import Intro from "components/bytes/home-page/intro.astro";
import Projects from "components/bytes/home-page/projects.astro";
import Posts from "components/bytes/home-page/posts.astro";
---

<Main
  title="Solo • Home"
  description="Hello, I'm Solo. I like building software and crafting web solutions. I enjoy programming, math, and reading, among other interests. I'm always learning, building, and living on localhost."
>
  <Intro />
  <Projects />
  <Posts />
</Main>
