---
import LinkMark from "components/bits/home-page/link-mark.astro";
import TextMark from "components/bits/home-page/text-mark.astro";
---

<section class="text-base leading-loose text-neutral-300">
  <p>
    Hello, I'm <TextMark>Solo</TextMark>. I like <TextMark>
      building software
    </TextMark> and
    <TextMark>crafting web solutions</TextMark>. I enjoy <TextMark>
      programming
    </TextMark>, math, and reading, among other interests.
  </p>
  <br />
  <p>
    I'm always <TextMark>learning</TextMark>, <TextMark>building</TextMark>, and <TextMark
    >
      living on localhost
    </TextMark>. See <LinkMark href="/projects">projects</LinkMark> and <LinkMark
      href="/skills"
    >
      skills
    </LinkMark>, read <LinkMark href="/blog">blog</LinkMark>, retrieve <LinkMark
      href="/"
      target="_blank"
    >
      résumé
    </LinkMark>, and contact via <LinkMark
      href="mailto:suleimanali.business@gmail.com"
    >
      email
    </LinkMark>.
  </p>
</section>
