<footer
  class="text-base font-medium leading-loose text-neutral-500 flex items-center justify-between pb-[30px]"
>
  <a href="/" class="mono">cd ~</a>
  <div class="flex items-center gap-2.5 text-sm">
    <a href="/" download="solo-resume">Résumé</a>
    <a href="https://github.com/Suleiman-Ali">Github</a>
    <a href="mailto:suleimanali.business@gmail.com">Email</a>
  </div>
</footer>
