<nav
  class="flex items-center justify-between text-base font-medium leading-loose text-neutral-500 pt-[30px]"
>
  <a href="/">Sōlô</a>
  <ul class="flex items-center gap-4">
    <li>
      <a
        href="/projects"
        class="hover:underline underline-offset-2 decoration-neutral-500 transition-colors"
        >Projects</a
      >
    </li>
    <li>
      <a
        href="/skills"
        class="hover:underline underline-offset-2 decoration-neutral-500 transition-colors"
        >Skills</a
      >
    </li>
    <li>
      <a
        href="/blog"
        class="hover:underline underline-offset-2 decoration-neutral-500 transition-colors"
        >Blog</a
      >
    </li>
  </ul>
</nav>
