---
import LinkItem from "components/bits/general/link-item.astro";
---

<nav
  class="flex items-center justify-between text-base font-medium leading-relaxed text-neutral-500 pt-[30px]"
>
  <a href="/">Solo</a>
  <ul class="flex items-center gap-4">
    <LinkItem href="/projects">Projects</LinkItem>
    <LinkItem href="/skills">Skills</LinkItem>
    <LinkItem href="/blog">Blog</LinkItem>
  </ul>
</nav>
