---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<li>
  <a
    {href}
    class="hover:underline underline-offset-2 decoration-neutral-500 transition-colors"
    ><slot /></a
  >
</li>
