---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  {href}
  class="max-w-max text-neutral-200 font-medium underline underline-offset-2 decoration-neutral-500 hover:decoration-neutral-400 transition-colors"
>
  <slot />
</a>
