---
import Footer from "components/bytes/general/footer.astro";
import Navbar from "components/bytes/general/navbar.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = "", description = "" } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-[#151515]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col gap-[72px] max-w-2xl mx-auto px-3">
    <Navbar />
    <main class="flex flex-col gap-[72px] gap">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    /* TODO: DOWNLOAD */
    font-family: "Segoe UI";
  }
  .mono {
    /* TODO: DOWNLOAD monospace of Segoe UI */
    font-family: monospace;
  }
  ::-moz-selection {
    color: currentColor;
    background: #373737;
  }
  ::selection {
    color: currentColor;
    background: #373737;
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(38 38 38);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(38 38 38);
  }
</style>
